.hero {
    height: calc(100vh - 96px);
    background: var(--color-grey-3);
}
.wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 720px;
    gap: 32px;
}
.heading {
    font-family: var(--font-2);
    font-weight: 700;
    font-size: var(--size-10);
    color: var(--color-black-0);
    text-transform: uppercase;
    line-height: 1;
}
.text {
    font-weight: 400;
    font-size: var(--size-3);
    color: var(--color-black-3);
    line-height: 1.4;
}
.button {
    background: var(--color-black-0);
    color: var(--color-white);
    text-transform: capitalize;
    font-size: var(--size-3);
    width: 200px;
    height: 50px;
    border-radius: var(--radius-full);
}
.stats {
    display: flex;
    justify-content: space-between;
    align-items: start;
    
}
.item:not(.item:last-of-type) {
    border-right: 1px solid var(--color-black-1);
}
.item{
    padding: 32px;
    line-height: 1.5;
}
.number {
    font-weight: 700;
    font-size: 40px;
}
.title {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-black-3);
    padding: 5px 0;
   
}
.img {
    flex-grow: 1;
    position: relative;
    height: 80%;
    align-self: end;
}
.img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}