*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-1);
}
html, body {
    height: 100%;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
input, textarea, dialog {
    border: none;
    outline-color: var(--color-black-0);
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}
