.banner{
    background:var(--color-black-0);
    width: 100%;
    color: var(--color-white);
    font-size: var(--size-2);
    line-height: 1;
    padding: 8px;
    position: relative;
}
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.text{
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
}
.link{
    font-weight: 500;
    text-decoration: underline;
    padding: 0 5px;
}
.close{
    position: absolute;
    right: 0;
    top: 50%;
    translate: 0 -50%;
    cursor: pointer;
    font-size: var(--size-3);
}

@media screen and (min-width: 320px) and (max-width: 476px){
    .text {
        flex-direction: column;
    }
}